* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa31a;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
}

.nav-active {
    transform: translateX(0%);
}

.nav-links li {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    padding: 10px;
}